/* mobile devise media query */

@media screen and (max-width:576px){
     
     nav,
     nav > ul,
     .sponsor-item-content,
     .feature-container
    
     {
          flex-direction: column;
     }
     .header-main-container{
          flex-direction: column-reverse;
     }
     
     .popular-containe-item{
          grid-template-columns: 1fr;
     }

     header {
          margin: 5.6rem 1.6rem;
     }
     nav >ul {
          text-align: center;
     }

     nav ul li{
          margin-top: 20px;
          margin-bottom: 10px;
     }
     .banner{
          width: 100%;
          height: 518px;
     }
     main{
          margin: 0;
     }
     .sponsor-item-content img{
          width: 50%;
          margin-bottom: 20px;
     }
     .popular-containe-item{
          padding-left: 0;
     }
     .popular-containe-item{
          grid-gap: 6.8rem;
     }
     .item-box{
          width: 100%;

     }
     .see-btn{
          margin-left: 40%;
          margin-top: 10%;
     }
     .feature-img{
          width: 100%;
     }
     .feature-container{
          margin: 0 ;
          gap: 0;
     }
     .footer-container{
          margin-top: 20px;
     }
}