/* media query form mobile devise */
@media screen  and (max-width:576px){

     nav,
     nav > ul,
     .sponsor-item-content
     {
          flex-direction: column;
     }
     .header-main-container{
          flex-direction: column-reverse;

     }
     .fa-bars{
          display: block;
     }
     header{
          margin: 30px 15px;
     }
     nav > ul{
          margin-top: 20px;
     }
     nav ul li{
          margin-bottom: 20px;
     }
     .banner{
         width: 350px;
         height: 550px;
     }
     main{
          margin: 0 5px;
     }
     .sponsor-item-content img{
          width: 100%;
          margin-bottom: 20px;
     }
     .sponsor-item-content img{
         width: ;
     }

     .popular-containe-item{
          grid-template-columns: 1fr;
     }
}
/* media query form tab devise */
